//media-queries

@mixin media-query ($size) {
    @if $size == desktop {
        @media screen and (max-width: 1200px) {
            @content;
        }
    }
    @else if $size == tablet {
        @media screen and (max-width: 992px) {
            @content;
        }
    } 
    @else if $size == tablet-mini {
        @media screen and (max-width: 786px) {
            @content;
        }
    } 
    @else if $size == large-mobile {
        @media screen and (max-width: 602px) {
            @content;
        }
    } 
    @else if $size == mobile {
        @media screen and (max-width: 550px) {
            @content;
        }
    } 

}
//colors
$color-accent-1: hsl(171, 66%, 44%);
$color-accent-2: hsl(233, 100%, 69%);
$color-accent-3: hsl(210, 10%, 33%);
$color-accent-4: hsl(201, 11%, 66%);
$color-accent-5: white;
//font
$font-family: 'Bai Jamjuree', sans-serif;
//base styling 
html {
    background-color: $color-accent-5;
}
body {
    font-family: $font-family;
    background-image: url(images/bg-header-desktop.png);
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
    height: 100vh;
    margin: 0px;
}

//typography 
h1 {
    font-size: 3rem;
    font-family: $font-family;
    color: $color-accent-3;

    @include media-query(tablet) {
        font-size: 2.2rem;
    }

    @include media-query(mobile) {
        font-size: 1.7rem;
    }
}
h2 {
    font-size: 2.2rem;
    font-family: $font-family;
    color: $color-accent-3;

    @include media-query(tablet) {
        font-size: 1.8rem;
    }

    @include media-query(mobile) {
        font-size: 1.5rem;
    }
}
h3 {
    font-size: 1.5rem;
    font-family: $font-family;
    color: $color-accent-3;

    @include media-query(mobile) {
        font-size: 1.5rem;
    }

    @include media-query(mobile) {
        font-size: 1.3rem;
    }
}
p {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    font-family: $font-family;
    color: $color-accent-4; 
    
    @include media-query(tablet) {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    @include media-query(mobile) {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
}
.btn {
    text-decoration: none;
    color: $color-accent-5;
    font-size: 1rem;
    font-weight: 800;
    background-color: $color-accent-1;
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 2px 1px 2px rgb(163, 163, 163);

    &__one {
        background-color: $color-accent-2;
    }
}


.hero1 {
    max-width: 100%;
    min-height: 500px;
    // background-color: red;

    &__container {
        max-width: 800px;
        min-height: 500px;
        // background-color: rgb(43, 43, 38);
        margin: 0px auto;
    }
}
.hero1 {
    text-align: center;
    margin: 0px 10px;

    @include media-query(tablet) {
        padding: 0px 50px;
    }

    @include media-query(mobile) {
        padding: 0px 25px;
    }

    &__logo {
        @include media-query(mobile) {
            width: 100px;
        }
    }

    &__area1 {
        // max-width: 800px;
        min-height: 250px;
        // background-color: pink;
        padding: 50px 0px;

        p {
            margin-top: -30px;

            @include media-query(tablet) {
                margin-top: -10px;
            }


            @include media-query(mobile) {
                margin-top: 15px;
            }
        }
    }

    &__area2 {
        // max-width: 800px;
        min-height: 200px;
        margin-top: 100px;
        // background-color: rgb(112, 172, 122);

        p {
            padding: 0px 20px;

            @include media-query(tablet) {
                margin-top: -10px;
            }

            @include media-query(mobile) {
                padding: 0px 0px;
            }
        }
    }
}
.btn__container {
    margin-top: 50px;

}
.btn__left {
    margin-right: 7.5px;

    @include media-query(mobile) {
        display: block;
        margin-right: 0px;
    }
}
.btn__right {
    margin-left: 7.5px;
    @include media-query(mobile) {
        display: block;
        margin-left: 0px;
        margin-top: 20px;
    }
}

.hero2 {
    max-width: 100%;
    min-height: 500px;
    // background-color: red;
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0px;

    &__area1 {
        flex: 1;
        min-height: 150px; 
        // background-color: yellow;
        text-align: center;

        @include media-query (tablet) {
            flex: 1 992px;
        }

        img {
            width: 95%;
        }


    }

    &__area2 {
        flex: 1;
        min-height: 500px; 
        // background-color: rgb(117, 164, 179);

        @include media-query (tablet) {
            flex: 1 992px;
        }
    }
}

.feature {
    padding: 0px 60px;
    margin-top: 50px;

    @include media-query (mobile) {
        padding: 0px 30px;
        text-align: center;
    }

    p {
        margin-top: -15px;
    }
}


.hero3 {
    max-width: 1000px;
    margin: -50px auto 0px auto;
    text-align: center;

    &__heading {
        min-height: 150px;
        padding: 50px 120px;
        @include media-query (tablet) {
            padding: 20px 120px;
        }
        @include media-query (tablet-mini) {
            padding: 20px 60px;
        }
        @include media-query (mobile) {
            padding: 20px 30px;
        }
    }
    &__image {
        min-height: 0px;
        padding: 40px 0px;
        img {
            width: 95%;
        }
    }
}


.hero4 {
    max-width: 1200px;
    // background-color: red;
    margin: 0px auto;
    text-align: center;

    &__heading {
        // background-color: yellow;
        padding: 20px 40px;


    
    }
    &__features {
        display: flex;
        padding: 30px 0px;
        margin-top: -20px;

        @include media-query (tablet) {
            flex-wrap: wrap;
        }
    }
}

.icons {
    padding: 20px;
    flex: 1;
    @include media-query (tablet-mini) {
        flex: 1 262px;
    }

    &__feature3 {

        @include media-query (tablet-mini) {
            padding: 10px 150px;
        }

        @include media-query (large-mobile) {
            padding: 10px 20px;
        }
    }
}

.hero5 {
    // background-color: red;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    text-align: center;
    @include media-query(tablet) {
        flex-wrap: wrap;
    }


}
.sponsor {
    padding: 30px 0px;
    flex: 1;
    @include media-query(tablet) {
        flex: 1 240px;
    }
}

.hero6 {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
    padding: 50px 20px 100px 20px;

    &__heading {
        padding: 0px 20px;
    }


}