html {
  background-color: white;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url(images/bg-header-desktop.png);
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
  height: 100vh;
  margin: 0px;
}

h1 {
  font-size: 3rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: #4c545d;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.7rem;
  }
}

h2 {
  font-size: 2.2rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: #4c545d;
}

@media screen and (max-width: 992px) {
  h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 550px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: #4c545d;
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  font-family: "Bai Jamjuree", sans-serif;
  color: #9fabb2;
}

@media screen and (max-width: 992px) {
  p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  p {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  background-color: #26baa4;
  padding: 15px 30px;
  border-radius: 50px;
  -webkit-box-shadow: 2px 1px 2px #a3a3a3;
          box-shadow: 2px 1px 2px #a3a3a3;
}

.btn__one {
  background-color: #6173ff;
}

.hero1 {
  max-width: 100%;
  min-height: 500px;
}

.hero1__container {
  max-width: 800px;
  min-height: 500px;
  margin: 0px auto;
}

.hero1 {
  text-align: center;
  margin: 0px 10px;
}

@media screen and (max-width: 992px) {
  .hero1 {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 550px) {
  .hero1 {
    padding: 0px 25px;
  }
}

@media screen and (max-width: 550px) {
  .hero1__logo {
    width: 100px;
  }
}

.hero1__area1 {
  min-height: 250px;
  padding: 50px 0px;
}

.hero1__area1 p {
  margin-top: -30px;
}

@media screen and (max-width: 992px) {
  .hero1__area1 p {
    margin-top: -10px;
  }
}

@media screen and (max-width: 550px) {
  .hero1__area1 p {
    margin-top: 15px;
  }
}

.hero1__area2 {
  min-height: 200px;
  margin-top: 100px;
}

.hero1__area2 p {
  padding: 0px 20px;
}

@media screen and (max-width: 992px) {
  .hero1__area2 p {
    margin-top: -10px;
  }
}

@media screen and (max-width: 550px) {
  .hero1__area2 p {
    padding: 0px 0px;
  }
}

.btn__container {
  margin-top: 50px;
}

.btn__left {
  margin-right: 7.5px;
}

@media screen and (max-width: 550px) {
  .btn__left {
    display: block;
    margin-right: 0px;
  }
}

.btn__right {
  margin-left: 7.5px;
}

@media screen and (max-width: 550px) {
  .btn__right {
    display: block;
    margin-left: 0px;
    margin-top: 20px;
  }
}

.hero2 {
  max-width: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero2__area1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 150px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .hero2__area1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 992px;
            flex: 1 992px;
  }
}

.hero2__area1 img {
  width: 95%;
}

.hero2__area2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 500px;
}

@media screen and (max-width: 992px) {
  .hero2__area2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 992px;
            flex: 1 992px;
  }
}

.feature {
  padding: 0px 60px;
  margin-top: 50px;
}

.feature p {
  margin-top: -15px;
}
/*# sourceMappingURL=style.css.map */