html {
  background-color: white;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url(images/bg-header-desktop.png);
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
  height: 100vh;
  margin: 0px;
}

h1 {
  font-size: 3rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: #4c545d;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.7rem;
  }
}

h2 {
  font-size: 2.2rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: #4c545d;
}

@media screen and (max-width: 992px) {
  h2 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 550px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-family: "Bai Jamjuree", sans-serif;
  color: #4c545d;
}

@media screen and (max-width: 550px) {
  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  h3 {
    font-size: 1.3rem;
  }
}

p {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  font-family: "Bai Jamjuree", sans-serif;
  color: #9fabb2;
}

@media screen and (max-width: 992px) {
  p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  p {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  font-family: "Bai Jamjuree", sans-serif;
  color: black;
}

@media screen and (max-width: 992px) {
  a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  a {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  background-color: #26baa4;
  padding: 15px 30px;
  border-radius: 50px;
  -webkit-box-shadow: 2px 1px 2px #a3a3a3;
          box-shadow: 2px 1px 2px #a3a3a3;
}

.btn__one {
  background-color: #6173ff;
}

.hero1 {
  max-width: 100%;
  min-height: 500px;
}

.hero1__container {
  max-width: 800px;
  min-height: 500px;
  margin: 0px auto;
}

.hero1 {
  text-align: center;
  margin: 0px 10px;
}

@media screen and (max-width: 992px) {
  .hero1 {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 550px) {
  .hero1 {
    padding: 0px 25px;
  }
}

@media screen and (max-width: 550px) {
  .hero1__logo {
    width: 100px;
  }
}

.hero1__area1 {
  min-height: 250px;
  padding: 50px 0px;
}

.hero1__area1 p {
  margin-top: -30px;
}

@media screen and (max-width: 992px) {
  .hero1__area1 p {
    margin-top: -10px;
  }
}

@media screen and (max-width: 550px) {
  .hero1__area1 p {
    margin-top: 15px;
  }
}

.hero1__area2 {
  min-height: 200px;
  margin-top: 100px;
}

.hero1__area2 p {
  padding: 0px 20px;
}

@media screen and (max-width: 992px) {
  .hero1__area2 p {
    margin-top: -10px;
  }
}

@media screen and (max-width: 550px) {
  .hero1__area2 p {
    padding: 0px 0px;
  }
}

.btn__container {
  margin-top: 50px;
}

.btn__left {
  margin-right: 7.5px;
}

@media screen and (max-width: 550px) {
  .btn__left {
    display: block;
    margin-right: 0px;
  }
}

.btn__right {
  margin-left: 7.5px;
}

@media screen and (max-width: 550px) {
  .btn__right {
    display: block;
    margin-left: 0px;
    margin-top: 20px;
  }
}

.hero2 {
  max-width: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0px;
}

.hero2__area1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 150px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .hero2__area1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 992px;
            flex: 1 992px;
  }
}

.hero2__area1 img {
  width: 95%;
}

.hero2__area2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 500px;
}

@media screen and (max-width: 992px) {
  .hero2__area2 {
    -webkit-box-flex: 1;
        -ms-flex: 1 992px;
            flex: 1 992px;
  }
}

.feature {
  padding: 0px 60px;
  margin-top: 50px;
}

@media screen and (max-width: 550px) {
  .feature {
    padding: 0px 30px;
    text-align: center;
  }
}

.feature p {
  margin-top: -15px;
}

.hero3 {
  max-width: 1000px;
  margin: -50px auto 0px auto;
  text-align: center;
}

.hero3__heading {
  min-height: 150px;
  padding: 50px 120px;
}

@media screen and (max-width: 992px) {
  .hero3__heading {
    padding: 20px 120px;
  }
}

@media screen and (max-width: 786px) {
  .hero3__heading {
    padding: 20px 60px;
  }
}

@media screen and (max-width: 550px) {
  .hero3__heading {
    padding: 20px 30px;
  }
}

.hero3__image {
  min-height: 0px;
  padding: 40px 0px;
}

.hero3__image img {
  width: 95%;
}

.hero4 {
  max-width: 1200px;
  margin: 0px auto;
  text-align: center;
}

.hero4__heading {
  padding: 20px 40px;
}

.hero4__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  margin-top: -20px;
}

@media screen and (max-width: 992px) {
  .hero4__features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.icons {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 786px) {
  .icons {
    -webkit-box-flex: 1;
        -ms-flex: 1 262px;
            flex: 1 262px;
  }
}

@media screen and (max-width: 786px) {
  .icons__feature3 {
    padding: 10px 150px;
  }
}

@media screen and (max-width: 602px) {
  .icons__feature3 {
    padding: 10px 20px;
  }
}

.hero5 {
  max-width: 1200px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .hero5 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.sponsor {
  padding: 30px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 992px) {
  .sponsor {
    -webkit-box-flex: 1;
        -ms-flex: 1 240px;
            flex: 1 240px;
  }
}

.hero6 {
  max-width: 700px;
  margin: 50px auto;
  text-align: center;
  padding: 50px 20px 100px 20px;
}

.hero6__heading {
  padding: 0px 20px;
}

footer {
  max-width: 100%;
  background-color: red;
  min-height: 100px;
}

.foot-container {
  background-color: rgba(36, 167, 64, 0.411);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0px auto;
}

@media screen and (max-width: 550px) {
  .foot-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    margin: 0px;
  }
}

.foot {
  padding: 20px;
}

.foot__foot1, .foot__foot2, .foot__foot3, .foot__foot4 {
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.foot__foot1 img, .foot__foot2 img, .foot__foot3 img, .foot__foot4 img {
  width: 60px;
}

@media screen and (max-width: 550px) {
  .foot__foot1, .foot__foot2, .foot__foot3, .foot__foot4 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
  }
}

.foot__foot5 {
  background-color: pink;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: right;
}

.copyright {
  background-color: gray;
  text-align: center;
  min-height: 50px;
}
/*# sourceMappingURL=style.css.map */